

body{	
	background:#a9aea8;
	font-family:Century Gothic, sans-serif;
	font-size: 18px;
}

h1, h2, h3{
	text-align:center;
	color: #666;

}
p{
	font-size:14px;
}

#feat{
	font-size: 1em;
}
.addy{
	font-size: 1.1em;
}

img{
	border:none;
	text-align:center;
	max-width:100%;
	height:auto;
	width:auto;
}

#wrapper{
	margin: 0 auto;
	max-width: 1120px;
	width: 98%;
	background: #d3e1cf;
	border: .5px solid rgba(12, 3, 25, 0.8);
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(12, 3, 25, 0.8);
}

ul {
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
}

* {
  -moz-transition: all .1s cubic-bezier(.1,.7,.3,1);
  -webkit-transition: all .1s cubic-bezier(.1,.7,.3,1);
  -o-transition: all .1s cubic-bezier(.1,.7,.3,1);
  -ms-transition: all .1s cubic-bezier(.1,.7,.3,1);
  transition: all .1s cubic-bezier(.1,.7,.3,1);
}

.shy-menu { 
  visibility:hidden;
  position: absolute;
  margin:0;
  padding:0;
  display: block;
  height: 35px;
  width: 35px;
  background-color: rgba(33,40,44,.1);
  color: #fff;
}
.shy-menu.is-open,
.shy-menu:hover { 
  z-index:20;
  background-color: rgba(33,40,44,1);
}

.shy-menu.is-open {
  height: 40%;
  width: 200px;
}

.shy-menu-panel { 
  margin-left: -250px;
}
.is-open .shy-menu-panel { 
  margin-left: 0;
}

.is-open .shy-menu-panel ul li a{
	color:white;
	display:block;
	margin-left:0;
	font-weight: 900;
	text-decoration:none;
}

.shy-menu-hamburger {
  position: relative;
  left: 0;
  top: 0;
  width: 54px;
  height: 54px;
  display: block;
  overflow: hidden;
  cursor: pointer;
}

.shy-menu-hamburger  .layer {
  background-color: #fff;
  border-radius: 1px;
  display: block;
  height: 2px;
  overflow: hidden;
  position: absolute;
    left: 5px;
  width: 18px;
}

.shy-menu-hamburger .layer.top { top: 9px; }
.is-open .shy-menu-hamburger .layer.top { 
  top: 17px;
  left: 5px;
  transform: rotate(45deg);
}
.shy-menu-hamburger .layer.mid { top: 16px; }
.is-open .shy-menu-hamburger .layer.mid {
  opacity: 0;
  left: 0;
}
.shy-menu-hamburger .layer.btm { top: 23px; }
.is-open .shy-menu-hamburger .layer.btm { 
  top: 17px;
  left: 5px;
  transform: rotate(-45deg);
}


#head{
	text-align:center;
	width:100%;
	height:auto;
	background: #92a38f;
	overflow:hidden;
}
#nav ul{
	list-style:none;
	margin:0;
	padding-left: 3em;
}

#nav ul li{
	float:left;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	width: 23%;
	text-align:center;
}

#nav ul li a{
	background:#005406;
	color:white;
	display:block;
	padding: 5% 12%;
	font-weight:bold;
	text-decoration:none;
}

#nav ul li a:hover, #nav ul li.active a{
    background:#6aba6f;
	text-decoration:none;
}

.banner img{
	border-top:1px solid #666;
	border-bottom:1px solid #666;
}

.centerSay{
	text-align:center;
	color: #005406;
	font-weight:100;
	margin: 3px;
}

.section{
	width: 29%;
	float:left;
	margin-right:4%;
	margin-top: 2%;
	margin-bottom:0;
	padding:0;
	text-align:center;
}

.parkinfo a{
	text-decoration:none;
}

footer{
	background:#005406;
	width:100%;
	overflow:hidden;
}

footer h3, footer p{
	color:#6aba6f;
	font-weight:100;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

li{
	display:inline;
	text-align:center;
}

ul li img {
	height: 3em;
}

.searching{
	margin: 20px;
	padding:20px;
}

#aboutMe{
	width: 90%;
	margin-left: 5%;
	border-radius: 8px;
	text-align:center;
	color: rgba(124,124,124, 0.8);
	background: rgba(255,255,255,0.4);
	border: 1px solid rgba(255,255,255,0.2);
}

#aboutMe p{
	padding:8px;
	color: #005406;
}

.contactForm span{
	margin-left:22%;
}

.contactForm input[type="text"],
.contactForm input[type="email"],
.contactForm input[type="url"],
.contactForm textarea {
    width:60%;
    box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
	margin-left: 22%;
	display:block;
	max-width:450px;
}

.contactForm input[type="submit"] {
    cursor:pointer;
    width:40%;
    border:none;
    background:#005406;
    color:#FFF;
    margin:0 0 0 55px;
    padding:10px;
	margin-left:23%;
    border-radius:5px;
	min-width:100px
}
  
 .contactForm h3{
	color:#005406;
 }

 .error {
  background-color: rgba(255, 0, 0, 0.2);
}
.submissionMessage {
  background-color: rgba(255,255,255, 0.2);
  border-radius: 5px;
  padding: 12px;
  text-align: center;
  display: block;
  box-shadow: 0 0 2px white;
  width: 60%;
}
 
/*-------BEGIN MEDIA QUERY-------*/




@media screen and (max-width:740px){
body{
	padding:0;
	margin:0;
	background:#92a38f;
}
#wrapper{
	width:100%;
	border-radius: 3px;
	box-shadow: 0 0 0 rgba(2, 3, 25, 0.8);
	border:none;
}
p{
  font-size: 12px;
}

.shy-menu{
  padding: 5px;
  margin:default;
  visibility:visible;	
}

.searching div{
	display: list-item;
	list-style:none;
	font-size: 13px;
}

#aboutMe{
 margin-top: 7em;
 font-size: 15px; 

}
.searching h1{
	font-weight:100;
}

.section h3{
	color:#005406;
}

#head{
	text-align:center;
	background: #92a38f;
	border-bottom: 5px solid #99938f;
	width:100%;
	height:auto;
	overflow:hidden;
}

 #nav{
	visibility:hidden;
	width:0;
	height:0;
 }
   
 .banner{
	width:0;
	height:0;
	visibility:hidden;
 }
 
.centerSay{
	visibility:hidden;
	width:0;
	height:0;
} 
.section{
	background:#d3e1cf;
	float:left;
	width: 100%;
	margin:0;
	font-size: 80%;
}


#contactSet{
width:85%;
}

#feat{
	font-size: 1.4em;
}
.addy{
	font-size: 1.4em;
}
 }
 
 
 
 .section img.swing{
	text-align:left;
	float:left;
 }

 
 
@media screen and (max-width:478px){
 body{
	font-size:13px;
 }

.section ul li a img{
	width: 20%;
	height: 20%;
}

#aboutMe{

	margin-top: 2em;
	margin-bottom: 1em;
 font-size: 15px; 
}

 p{
font-size: 11px;
}
}
