<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "com.phonegap.parkoo"
	version     = "0.10.51"
	versionCode = "10" >

	<preference name="phonegap-version" value="cli-5.2.0" />

	<preference name="Orientation" value="portrait" />	

   
	<name>Parkoo</name>
	<content src="index.html"/>  

	<access origin="http://maps.google.com" />
	<access origin="geo:*" launch-external="yes"/>
	<!-- Credit for the treeswing silhouette: http://www.tenstickers.co.uk/wall-stickers/img/preview/tree-swing-mac-sticker-2576.png -->
	
	<description>
		A way to search for new parks to take your kids, your dog or your own inner child to.  Database expansion to come. 
	</description>

	<author email="sodajrrk@gmail.com">
		Noah Hebert
	</author>

	

</widget>