<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "com.phonegap.parkoo"
	version     = "0.11.2"
	versionCode = "10" >

	<preference name="phonegap-version" value="cli-5.2.0" />

	<preference name="Orientation" value="portrait" />	

	
	
   
	<name>Parkoo</name>
	<content src="index.html"/>
	<icon src="images/Parkoo_icon.png" gap:platform="winphone" />
	<icon src="images/Parkoo_icon.png" gap:platform="winphone" gap:role="background" />
	<icon src="images/Parkoo_icon.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="images/Parkoo_icon.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="images/Parkoo_icon.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="images/Parkoo_icon.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="images/Parkoo_icon.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<icon src="images/Parkoo_icon.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />	

	<access origin="http://maps.google.com" />
	<access origin="geo:*" launch-external="yes"/>
	<!-- Credit for the treeswing silhouette: http://www.tenstickers.co.uk/wall-stickers/img/preview/tree-swing-mac-sticker-2576.png -->
	
	<description>
		<h4>!!!BETA VERSION!!!</h4>
		Still in test mode with minimalized data. Social Media accounts are yet to be activated and the Settings tab is lacking 
		capabilities, as the main goal is to set and store in memory of the device which state and county the search will consider 
		default for you!<br />
	
		A way to search for new parks to take your kids, your dog or your own inner child to.  Database expansion to come. 
	</description>

	<author email="sodajrrk@gmail.com">
		Noah Hebert
	</author>

	

</widget>