<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="favIcon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-animate.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/ui-bootstrap.min.js"></script>

<title>Parkoo</title>
</head>
<body ng-app="parkoo" ng-controller="NavController as navi">

<!--STEP 1: ASK WHAT STATE AND SORT BY STATE, STEP 2: ASK COUNTY AND SORT BY COUNTY THEN ENABLE FREEDOM TO SEARCH -->

<div id="ham">
	<a href ng-click="toggle = !toggle"><img src="images/hamenu.png" /></a>
	<ul ng-show="toggle">
		<li><a id="Home" ng-click="navi.selectTab(1); toggle = false">Home</a></li>
		<li><a id="About" ng-click="navi.selectTab(2); toggle = false">About</a></li>
		<li><a id="Contact" ng-click="navi.selectTab(3);  toggle = false">Contact</a></li>
		<li><a id="Review" ng-href="#"  ng-click="toggle = false">Rate/Review</a></li>
	</ul>
</div>

<div id="wrapper">
	<div id="head">
		<img id="hill" src="images/parkoo_Logo.png" alt="Park Finder" title="Parkoo!"></img>
		<img id="small" src="images/Parkoo_Logo_Small.png" alt="Park Finder" title="Parkoo!"></img>
	</div>

	<div class="banner">
			<img src="images/lake_Rainbow.jpg" alt="Parkoo Park Finder" title="Parkoo!"> </img>
	</div>
	
	<h1 class="centerSay">... find something new and beautiful...</h1>

	<div class="searching" ng-controller="ListController as list">
			<div ng-show="navi.isSelected(1)">
				<div id="search">
					<label>I found <b>{{results.length}}</b> parks! Narrow down your search: </label>
					<input class="form-control" ng-model="q" placeholder="filter parks..." />
				</div>
				  
				  
				<ul class="parksList">
					<li ng-repeat="item in data | filter:q | limitTo: 20">
						<a id="paLi" ng-click="parkIndex(item); navi.selectTab(4)" />
						<div>
							<h2>{{item.parkName}}</h2>
							<span> Located at {{item.streetAddress}} in {{item.city}}, {{item.zipCode}}.</span>
							<hr />
						</div>
					</li>
				</ul>
			</div>
			
			<div ng-show="navi.isSelected(4)" class="parkinfo"> 
			  
			  <h2><a id="o" ng-click="navi.selectTab(4)"> {{parkDetail.parkName}}</a></h2> 	
			  <p><a id="r" ng-click="navi.selectTab(4)">{{parkDetail.streetAddress}}, {{parkDetail.city}}</a> <br/><h4 id="h"> This park includes: </h4><h4>{{parkDetail.feature}}.</h4></p>
			  <p><a id="e" ng-click="navi.selectTab(1)">Back to Search</a></p>
			</div>
			
		
	</div>

<div ng-show="navi.isSelected(2)">

<!-- SET UP A FUNCTION WHERE IF isSelected == 2 or 3, the back button goes to isSelected(1) to return to basic search.-->

<div id="aboutMe">
<h1>About Parkoo</h1>
		
		<p>As my kids have grown older and our time together becomes more and more important, the realization that I don't have hours to search the 
		web coupled with my boys' desire to go to new places culminated to form our own park finder. A list of places we'd visited with 
		the features offered at each location. </p>
		
		<p>Thanks to technology, we now want to offer our "research" to everyone to get out and find something new and beautiful to share 
		with their loved ones, their pets or even their own inner child. </p>
		
		<p>While this application is in no way perfect, I hope it at least helps you and those who matter most to you find somewhere new to play, fish, or 
		just get outside.</p>
		<p><a ng-click="navi.selectTab(1)">Back to Search</a></p>
	</div>

</div>
<div ng-show="navi.isSelected(3)" id="aboutMe">
	<div class="contactForm" action="/" method="post">
		<h3>Comments or Questions? Please reach out to us or check out our social media links below.</h3>
		
		<form action="" method="post" name="contactForm" id="contactSet">
			<label for="name">Name</label><br/>
			<input type="text" name="name" required="required"><br/>
			<label for="email"><span>E-mail</span></label><br/>
			<input type="text" name="email" required="required"><br/>
			<label for="message"><span>Comment or Question</span></label><br/>
			<textarea type="text" rows="5" name="message" required="required"></textarea><br/>
			<input type="submit" id="send" text="Submit"></input>
		</form>
		
		<p>*Your information will not be shared or sold and is solely for communcation purposes between yourself and the Parkoo staff.</p>
	</div>
	<br/>
	<p>Special thanks to my two sons and my family, GitHub, PhoneGap, Lynda.com, CPTC, metroparkstacoma.org, CipherTrick, Pixlr.com, my friends and anyone else who helped with research, development, and design.</p>
	
	<p><a ng-click="navi.selectTab(1)">Back to Search</a></p>

</div>

	<footer>
		<div class="section">
			<img class="swing" src="images/treeswing.png"></img> 
		</div>
		<div class="section">
		<br />
		<h3>&#169; 2015 Parkoo</h3>
		</div>
		<div class="section">
			<p>Connect with us</p>
			<ul>
				<li><a href="#"><img src="images/fbtap.png"</img></a></li>
				<li><a href="#"><img src="images/instatap.png"</img></a></li>
				<li><a href="#"><img src="images/pintap.png"</img></a></li>
			</ul>
		</div>
		
	</footer>

</div>
</body>
</html>

