<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="favIcon.ico" />
<meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />

<!--CDN CONTENT FOR WHEN THERE IS INTERNET CONNECTIVITY OR DATA USE AVAILABLE-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>

<!--HARD COPIES OF THE FILES USED WHEN NO CONNECTIVITY AVAILABLE-->
<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-filter.js"></script>
<script src="js/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script src="js/bootstrap.min.js"></script> 
<script src="js/app.js"></script> 
<script src="js/dirPagination.js"></script>


<title>Parkoo</title>
</head>
<body ng-app="parkoo" ng-controller="NavController as navi">

<!--STEP 1: ASK WHAT STATE AND SORT BY STATE, STEP 2: ASK COUNTY AND SORT BY COUNTY THEN ENABLE FREEDOM TO SEARCH -->

<div id="ham">
	<a href ng-click="toggle = !toggle"><img src="images/hamenu.png" /></a>
	<ul ng-show="toggle">
		<li><a id="Home" ng-click="navi.selectTab(1); toggle = false">Home</a></li>
		<li><a id="About" ng-click="navi.selectTab(2); toggle = false">About</a></li>
		<li><a id="Contact" href="mailto:parkoo.staff@gmail.com" ng-click="toggle = false">Contact</a></li>
		<!-- <li><a id="Settings" ng-click="navi.selectTab(5);  toggle = false">Settings</a></li> -->
		<!-- <li><a id="Review" ng-href="#"  ng-click="toggle = false">Rate/Review</a></li> -->
	</ul>
</div>

<div id="wrapper">
<!--header and banner which disappear/change as screen shrinks-->
	<div id="head">
		<img id="hill" src="images/parkoo_beta_Logo.png" alt="Park Finder" title="Parkoo!"></img>
		<img id="small" src="images/Parkoo_Beta_Logo_Small.png" alt="Park Finder" title="Parkoo!"></img>
	</div>
	<div class="banner">
			<img src="images/lake_Rainbow.jpg" alt="Park Finder" title="Parkoo!"> </img>
	</div>
	<h1 class="centerSay">... find something new and beautiful...</h1>
	
	
<!--search functionality starts here.-->
		<div class="searching">
			<section ng-controller="ListController">
			
			 <div class="parkinfo" ng-show="navi.isSelected(5)">
				<h2>Settings</h2>
				
				<h4 style="text-align:center;">...under construction...</h4>
						
				<p><a ng-click="navi.selectTab(1)">Back to Search</a></p>
			</div> 	
			
	<!-- Basic search at first which searches through all portions of JSON -->	
			<div ng-show="navi.isSelected(1)">
				<div id="search">
					<label> 
						<p ng-repeat="item in park = (data | filter: q)"></p>
						<h4>I found {{park.length}} parks. Narrow the search:</h4>
					</label>
					<input class="form-control" ng-model="q" placeholder="filter parks..." />
						<div id="sort">
								<label class="formgroup"><span>Sort by:
									<select class="select" ng-model="parkOrder">
										<option value="parkName">Park Name</option>
										<option value="city">City</option>
									</select></span>
								</label>
								<label class="formgroup">
									<input style="padding:0; margin:0;border:none;" class="select" type="radio" ng-model="direction" name="direction" checked>
									asc
								</label>
								<label class="formgroup">
									<input style="padding:0; margin:0;border:none;" class="select" type="radio" ng-model="direction" name="direction" value="reverse">
									desc
								</label>
								<a class="advance" ng-click="navi.selectTab(6)"><span>Advanced Search>></span></a>
						</div>
				</div>
						
				  <hr></hr>
				<ul class="parksList">
					<li ng-model="results" dir-paginate="item in data | filter:q | itemsPerPage: display | orderBy: parkOrder:direction">
						<a id="paLi" ng-click="parkIndex(item); navi.selectTab(4)">
							<div>
								<h2>{{item.parkName}}</h2>
								<span>{{item.streetAddress}} in {{item.city}}, {{item.state}}  {{item.zipCode}}</span>
								<hr />
							</div>
							</a>
					</li>
				</ul>
			</div>
			
	<!--advance search function starts here (lots of code redundancy, but it's working ET...  it's working.-->		
			<div id="advanceSearch" ng-show="navi.isSelected(6)">
				<h2>Advanced Search</h2>
				<label>
					<span>Which state?
							<select class="select" ng-model="stateSelect" ng-options="item.state as item.state for item in data | unique:'state' | orderBy:'state'" >
							<option value="">All</option>
							</select>
					</span>
				</label>
				<label>
					<span>Which County?
						<select class="select" ng-model="countySelect" ng-options="item.county as item.county for item in park = (data|filter:stateSelect:true) | unique:'county' | orderBy:'county'">
						<option value="">All</option>
						</select>
					</span>
				</label>
				<label>
					<span>Which City?
						<select class="select" ng-model="citySelect"    ng-options="item.city as item.city for item in park = (data|filter:countySelect:true) | unique:'city' | orderBy:'city'">
						<option value="">All</option>
						</select>
					</span>
				</label>
				<p><a class="advance" ng-click="navi.selectTab(1)">Back to Main Search</a></p>
				<hr></hr>
				<ul class="parksList">
					<li ng-model="results" dir-paginate="item in data | filterMultiple:{state:stateSelect, city:citySelect, county:countySelect} | itemsPerPage: display | orderBy: parkOrder:direction">
						<a id="paLi" ng-click="parkIndex(item); navi.selectTab(4)">
							<div>
								<h2>{{item.parkName}}</h2>
								<span>{{item.streetAddress}} in {{item.city}}, {{item.state}}  {{item.zipCode}}</span>
								<hr />
							</div>
						</a>
					</li>
				</ul>
			  <p><a class="advance" ng-click="navi.selectTab(1)">Back to Main Search</a></p>					  
			</div>		

	<!--details of the clicked results from BOTH advance and basic searches-->
			<div ng-show="navi.isSelected(4)" class="parkinfo"> 
			  <hr>
			  <h2> {{parkDetail.parkName}}</h2> 
			  <p><a id="r" ng-href="https://www.google.com/maps/@{{parkDetail.latitude}},{{parkDetail.longitude}},16z/" target="_blank"> {{parkDetail.streetAddress}}, {{parkDetail.city}}</a><hr>
			  <h4> This park includes: </h4><h4 id="h">{{parkDetail.feature}}.</h4></p>
			  <p><a id="e" ng-click="navi.selectTab(1)">Back to Search</a></p>
			</div>
			<label ng-show="navi.isSelected(1) || navi.isSelected(6)">				
				<span>Parks Displayed:
					<select ng-model="display">
						<option Value = "5"> 5</option><option Value = "10" selected> 10</option><option Value = "20"> 20</option><option Value = "30"> 30 </option><option Value = "40"> 40</option><option Value = "50"> 50</option>
						<option Value = ""></option>
					</select>
				</span>
			</label>
		</section>
		<div ng-controller="OtherController" ng-show="navi.isSelected(1)">
			<div class="text-center">
				<dir-pagination-controls boundary-links="false" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"> </dir-pagination-controls>
			</div>
		</div>
		<div ng-controller="PaginationController" ng-show="navi.isSelected(6)">
			<div class="text-center">
				<dir-pagination-controls boundary-links="false" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"> </dir-pagination-controls>

			</div>
		</div>
	</div>

	<div ng-show="navi.isSelected(2)">
	
<!-- SET UP A FUNCTION WHERE IF isSelected != 1, the back button goes to isSelected(1) to return to basic search.-->

	<!--About me section is just information about the application -->
		<div id="aboutMe" >
		<h1>About Parkoo</h1>
			<h3 style="color:#005406;">!!!BETA VERSION!!!</h3>
			<h3><strong>Still in test mode </strong></h3>
			<ul>
				<li>Contaions only minimal data</li>
				<li>Big plans for the future including:</li>
				</ul>
				<ul> 
					<li>mobile application</li>
					<li>profiles</li>
					<li>geo-location</li>
					<li>ratings</li>
					<li>functioning maps on mobile device</li>
					<li>function contact/email on mobile device</li>
					<li>stronger search capabilities</li>
					<li>and maybe more depending on the feedback we receive.</li>
				</ul> 
				<h4>Afterall, I am just one man working on this application.</h4>
			
			<hr />
			<h4> But where did Parkoo come from?? </h4>
			<hr />
			<h5>As my kids have grown older and our time together becomes more and more important, the realization that I don't have hours to search the 
			web coupled with my boys' desire to go to new places culminated to form our own park finder. A list of places we'd visited with 
			the features offered at each location. </h5>
			
			<h5>Thanks to technology, we now want to offer our "research" to everyone to get out and find something new and beautiful to share 
			with their loved ones, their pets or even their own inner child. </h5>
			
			<h5>While this application is in no way perfect, I hope it at least helps you and those who matter most to you find somewhere new to play, fish, or 
			just get outside.</h5>
			<p><a ng-click="navi.selectTab(1)">Back to Search</a></p>
		</div>
	</div>
	
	<!--Footer includes links to social media accounts related to Parkoo. -->	
	<footer>
		<div class="section">
			<img class="swing" src="images/treeswing.png"></img> 
		</div>
		<div class="section">
		<br />
		<h3>&#169; 2015 Parkoo</h3>
		</div>
		<div class="section">
			<p>Find us</p>
			<ul>
				<li><a href="https://www.facebook.com/parkooparks" target="_blank"><img src="images/fbtap.png"</img></a></li>
				<li><a href="http://instagram.com/parkoobeta" target="_blank"><img src="images/instatap.png"</img></a></li>
			</ul>
		</div>
	</footer>
</div>
</body>
</html>

